<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Fridge</p>
    <form method="post" >
          {% csrf_token %}
 {% for item in ingredient %}
    <label for="fridge_item"> {{item.name}}</label>
    <input type="checkbox" name="fridge_item" value="{{item.name}}" >
   
    {% endfor %}
    <button type="submit" >Find Recipe</button>
    </form>
   
</body>
</html>